.contactHeroSectionContainer{
    border-block: 1px solid var(--dark-15);
}
.contactHeroSection .contactHeroCardsContainer{
    display: flex;
}
.contactHeroCardsContainer .line{
    margin-inline: 50px;
}
.contactHeroCardsContainer .contactHeroCard{
    max-width: 324px;
    width: 100%;
    padding-block: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contactHeroCard .cardContent{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contactHeroCard .cardContent a{
    width: fit-content;
}
.contactHeroCard .cardContent p{
    font-size: 18px;
    color: var(--grey-60);
}
.contactHeroCard .contactUsCardContent{
    flex-direction: row;
}

.contactFormSectionContainer{
    border-block: 1px solid var(--dark-15);
}
.contactFormContainer{
    display: flex;
}
.contactFormContainer .left{
    margin: auto 0;
    padding-right: 80px;
}
.contactFormContainer .left .content{
    max-width: 519px;
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 50px;

}
.left .content h1{
    font-size: 58px;
    font-weight: 500;
    font-family: var(--kumbh-sans-font);
}
.left .content .description{
    color: var(--grey-60);
}

.contactFormContainer .right{
padding-block: 80px;
padding-left: 80px;
flex: 1;
border-left: 1px solid var(--dark-15);
}
.right form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.right form .formSection{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
}
.right form .formSection .inputDetailsSection{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}
.inputDetailsSection .inputBox{
    display: flex;
    gap: 10px;
}
.inputDetailsSection .inputBox input{
    flex: 1;
}
.inputDetailsSection input,select,textarea{
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--dark-15);
    background-color: var(--dark-10);
    font-size: 18px;
    color: white;
}
.inputDetailsSection input{
    flex: 1;
}
.right form .submitSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}
.submitSection .terms{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
.terms input{
    width: 28px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid var(--dark-15);
}
.submitSection button{
    padding: 18px 46px;
    border-radius: 8px;
    background-color: var(--yellow-55);

}

.right .questionsContainerSection{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right .questionsContainer{
    display: flex;
    flex-direction: column;
    padding: 34px;
    border-radius: 12px;
    border: 1px solid var(--dark-15);
    background-color: var(--dark-10);
}
.questionsContainer .questionBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right .questionsContainer .line{
    margin-block: 30px;
    display: none;
}
.right .questionsContainer .answerBox{
    display: none;

}
.right .questionsContainer .answerBox p{
    font-size: 18px;
    color: var(--grey-60);
}
.right .questionsContainer.active .line{
    display: block;
}
.right .questionsContainer.active .answerBox{
    display: block;
}