<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <footer>
        <div class="footerTopContainer">
            <div class="container footerTop">
                <div class="footerTopContentContainer">
                    <img src="./assets/images/largeLogoIcon.svg" alt="">
                    <div class="footerTopContent">
                        <p class="infoTitle">Learn, Connect, and Innovate</p>
                        <h2 class="mainTitle">Be Part of the Future Tech Revolution</h2>
                        <p class="description">Immerse yourself in the world of future technology. Explore our comprehensive resources, connect with fellow tech enthusiasts, and drive innovation in the industry. Join a dynamic community of forward-thinkers.</p>
                    </div>
                </div>
                <div class="footerTopCardContainer">
                    <div class="cardsContainer">
                        <div class="card">
                            <div class="cardTitle">
                                <p>Resource Access</p>
                                <img src="./assets/images/circleArrowIcon.svg" alt="">
                            </div>
                            <p class="description">Visitors can access a wide range of resources, including ebooks, whitepapers, reports.</p>
                        </div>

                        <div class="card">
                            <div class="cardTitle">
                                <p>Resource Access</p>
                                <img src="./assets/images/circleArrowIcon.svg" alt="">
                            </div>
                            <p class="description">Visitors can access a wide range of resources, including ebooks, whitepapers, reports.</p>
                        </div>

                        <div class="card">
                            <div class="cardTitle">
                                <p>Resource Access</p>
                                <img src="./assets/images/circleArrowIcon.svg" alt="">
                            </div>
                            <p class="description">Visitors can access a wide range of resources, including ebooks, whitepapers, reports.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainFooterContainer">
            <div class="container mainFooter">
                <div class="linksSectionContainer">
                    <div class="linksContainer">
                        <p>Home</p>
                        <ul>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Resources</a><span class="navLinkNew">New</span></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Newsletter</a></li>
                        </ul>
                    </div>

                    <div class="linksContainer">
                        <p>News</p>
                        <ul>
                            <li><a href="#">Trending Stories</a></li>
                            <li><a href="#">Featured Videos</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Politics</a></li>
                            <li><a href="#">Environment</a></li>
                        </ul>
                    </div>

                    <div class="linksContainer">
                        <p>Blogs</p>
                        <ul>
                            <li><a href="#">Quantum Computing</a></li>
                            <li><a href="#">AI Ethics</a></li>
                            <li><a href="#">Space Exploration</a></li>
                            <li><a href="#">Biotechnology</a> <span class="navLinkNew">New</span></li>
                            <li><a href="#">Renewable Energy</a></li>
                            <li><a href="#">Biohacking</a></li>
                        </ul>
                    </div>

                    <div class="linksContainer">
                        <p>Podcasts</p>
                        <ul>
                            <li><a href="#">AI Revolution</a></li>
                            <li><a href="#">AI Revolution</a><span class="navLinkNew">New</span></li>
                            <li><a href="#">TechTalk AI</a></li>
                            <li><a href="#">AI Conversations</a></li>
                        </ul>
                    </div>

                     <div class="linksContainer resources">
                        <p>Resources</p>
                        <ul>
                            <li><a href="#">Whitepapers</a><span><img src="./assets/images/footerLinksArrow.svg" alt="arrow icon"></span></li>
                            <li><a href="#">Ebooks</a><span><img src="./assets/images/footerLinksArrow.svg" alt="arrow icon"></span></li>
                            <li><a href="#">Reports</a><span><img src="./assets/images/footerLinksArrow.svg" alt="arrow icon"></span></li>
                            <li><a href="#">Research Papers</a><span><img src="./assets/images/footerLinksArrow.svg" alt="arrow icon"></span></li> 

                        </ul>
                    </div>
                </div>
                    <div class="copyrightSection">
                        <div class="left">
                            <p>Terms & Conditions</p>
                            <span class="line"></span>
                            <p>Privacy Policy</p>
                        </div>
                        <div class="socialIcons">
                            <img src="./assets/images/footerTwitterIcon.svg" alt="icon">
                            <img src="./assets/images/FooterUnknownIcon.svg" alt="icon">
                            <img src="./assets/images/FooterLinkedinIcon.svg" alt="icon"> 
                        </div>
                        <div class="right">
                            <p>&copy; 2025 FutureTech. All rights reserved.</p>
                        </div>
                    </div>
            </div>
        </div>
    </footer>
</body>
</html>