<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
  </head>
  <body>
    <header>
        <div class="topBannerContainer">
          <div class="container topBanner">
            <p>
              Subscribe to our Newsletter For New & latest Blogs and Resources
            </p>
            <img
              src="./assets/images/topBannerArrow.svg"
              alt="top banner arrow icon"
            />
          </div>
        </div>
        <div class="headerContainer">
            <div class="container header">
                <picture>
                    <source media="(min-width:1440px)" srcset="./assets/images/LaptopLogo.svg">
                    <img src="./assets/images/Desktoplogo.svg" alt="Flowers">
                </picture>
                <div class="headerLinks">
                    <div class="links">
                    <ul class="links">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Podcasts</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
                </div>
                <div class="headerBtns">
                    <button class="headerButton">Contact Us</button>
                </div>
                </div>
            </div>
        </div>
    </header>
  </body>
</html>
