/* Feature Banner */
.featureContainerSection{
    background-color: var(--dark-10);
}
.featureContainer .featureBanner {
  padding: 120px 162px;
  color: white;
}
.featureContainer .featureBanner p {
  font-size: 20px;
  padding: 6px 10px;
  background-color: var(--dark-20);
  width: fit-content;
  border-radius: 4px;
}
.featureContainer .featureBanner h2 {
  font-size: 58px;
  margin-top: 16px;
}

/* Feature Card Container */
.featureCardContainerSection{
    background-color: var(--black-color);
    color: var(--white-color);
}
.featureCardContainer{
    padding: 0 162px;
}
.featureCardContainer .featureDetailsContainer{
    display: flex;
    border-block: 1px solid var(--dark-15);
}
.featureDetailsContainer .contentContainer{
    display: flex;
    align-items: center;
}
.featureDetailsContainer .contentContainer h2{
    font-size: 40px;
    font-weight: 600;
}
.featureDetailsContainer .contentContainer p{
    font-size: 18px;
    color: var(--gray-60);
}
.featureDetailsContainer .line {
  border: 1px solid var(--dark-15);
  margin: 0 80px;
}

.featureDetailsContainer .cardsContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 80px;
}
.featureDetailsContainer .cardsContainer .fetureCard{
    border: 1px solid white;
    width: 444px;
    padding: 40px;
    border-radius: 12px;
}
.featureDetailsContainer .cardsContainer .fetureCard .cardTitle{
    font-size: 24px;
}
.featureDetailsContainer .cardsContainer .fetureCard .cardDescription{
    font-size: 18px;
    color: var(--gray-60);
    margin-top: 20px;
}

@media (max-width: 1440px) {
  .featureContainer .featureBanner {
    padding: 80px;
  }
  .featureContainer .featureBanner p {
  font-size: 16px;
  padding: 4px 8px;
}
.featureContainer .featureBanner h2 {
  font-size: 44px;
  margin-top: 10px;
}
}

@media (max-width: 1200px){
    .featureContainer .featureBanner {
    padding: 80px 40px;
  }
}

@media (max-width: 720px){
     .featureContainer .featureBanner {
    padding: 60px 16px;
  }
}
